.topImg {
    border-radius: 20px;
    margin-top: 6vh;
    height: 25vh;
    margin-bottom: 2vh;
}

.bottomImg {
    border-radius: 20px;
    margin-top: 1vh;
    height: 25vh;
    margin-bottom: 20.5vh;
}

.info {
    display: flex;
    margin: 2vh 0;
    width: 100%;
    justify-content: center;
}

.text {
    color: white;
}

.detail {
    font-weight: 600;
    color: #1e3799;
}

@media screen and (max-width: 800px) {
    .info {
        display: grid;
    }

    .topImg {
        margin-left: 2vw;
    }

    .bottomImg {
        margin-left: 2vw;
        margin-bottom: 2vh;
    }

    .fourthBox {
        margin-bottom: 18vh;
    }

    .text {
        font-size: 22px;
    }
}
